<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-address-card-o fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= @inspector_count %></p>
              <p class="announcement-text"><%= t(:inspector)%></p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= t(:expand)%>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-barcode fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= @report_count %></p>
              <p class="announcement-text"><%= t(:report)%></p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= t(:expand)%>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= @organization_count %></p>
              <p class="announcement-text"><%= t(:organization)%></p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= t(:expand)%>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= @check_count %></p>
              <p class="announcement-text">
                <%= t(:check) %></p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= t(:expand)%>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
