<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-address-card-o fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-text "><%= t(:inspectors)%></p>
              <p class="announcement-heading"><strong><%= @inspector_count %></strong></p>
            </div>
          </div>
        </div>
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to t(:expand), inspectors_path %>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-barcode fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-text"><%= t(:reports)%></p>
              <p class="announcement-heading"><strong><%= @report_count %></strong></p>
            </div>
          </div>
        </div>
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to t(:expand), reports_path %>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-text"><%= t(:organizations)%></p>
              <p class="announcement-heading"><strong><%= @organization_count %></strong></p>
            </div>
          </div>
        </div>
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to t(:expand), organizations_path %>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-text">
                <%= t(:checks) %></p>
              <p class="announcement-heading"><strong><%= @check_count %></strong></p>
          </div>
          </div>
        </div>
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to t(:expand), checks_path %>
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<%= render 'card' %>
