<p id="notice"><%= notice %></p>

<h1><%= t(:people) %></h1>

<% if current_user.is_admin == true %>
  <%= link_to t(:new_person), new_person_path, class: 'btn btn-success' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:first_name)%></th>
      <th><%= t(:last_name)%></th>
      <th><%= t(:middle_name)%></th>
      <% if current_user.is_admin == true %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
    <tr>
    <tr role="button"  onclick="window.location.href = '/people/<%= person.id %>'">
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.middle_name %></td>
      <% if current_user.is_admin == true %>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_person_path(person) %></td>
        <td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, person, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
