<p id="notice"><%= notice %></p>

<h1><%= t(:people) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:first_name)%></th>
      <th><%= t(:last_name)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= link_to t(:show), person %></td>
      <td><%= link_to t(:edit), edit_person_path(person) %></td>
      <td><%= link_to t(:destroy), person, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_person), new_person_path %>
