<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:first_name):</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong><%= t(:last_name) %>:</strong>
  <%= @person.last_name %>
</p>

<%= link_to t(:edit), edit_person_path(@person) %> |
<%= link_to t(:back), people_path %>
