<h1><%= t(:inspectors) %></h1>
<%= render partial: "searchbar", locals: {search: @search, path: new_inspector_path, text: t(:new_inspector), search_hash: :first_name_or_last_name_or_middle_name_or_position_cont} %>
<br>
<div class="list-group">
  <% @inspectors.each do |i| %>
    <%= link_to inspector_path(i), class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= i.full_name %></h5>
        <small class="text-muted"><%= "#{i.reports.count}/#{i.checks.count}" %></small>
      </div>
      <small class="text-muted"><%= i.position %></small>
    <% end %>
  <% end %>
</div>
<br>
