<p id="notice"><%= notice %></p>

<h1><%= t(:inspectors) %></h1>

<table class="table">
    <thead>
        <tr>
            <th><%= t(:first_name)%></th>
            <th><%= t(:last_name)%></th>
            <th><%= t(:middle_name)%></th>
            <th><%= t(:position)%></th>
            <th colspan="4"></th>
        </tr>
    </thead>

    <tbody>
        <% @inspectors.each do |inspector| %>
        <tr>
            <td><%= inspector.first_name %></td>
            <td><%= inspector.last_name %></td>
            <td><%= inspector.middle_name %></td>
            <td><%= inspector.position %></td>
            <td><%= link_to t(:show), inspector %></td>
            <% if current_user.is_admin == true %>
                <td><%= link_to t(:edit), edit_inspector_path(inspector) %></td>
                <td><%= link_to t(:destroy), inspector, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<% if current_user.is_admin == true %>
    <%= link_to t(:new_inspector), new_inspector_path %>
<% end %>