<p id="notice"><%= notice %></p>

<h1>Inspectors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspectors.each do |inspector| %>
      <tr>
        <td><%= inspector.name %></td>
        <td><%= inspector.position %></td>
        <td><%= link_to 'Show', inspector %></td>
        <td><%= link_to 'Edit', edit_inspector_path(inspector) %></td>
        <td><%= link_to 'Destroy', inspector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspector', new_inspector_path %>
