<p id="notice"><%= notice %></p>

<p>
    <strong>First Name:</strong>
    <%= @inspector.first_name %>
</p>
<p>
    <strong>Last Name:</strong>
    <%= @inspector.last_name %>
</p>

<p>
    <strong>Position:</strong>
    <%= @inspector.position %>
</p>

<%= link_to t(:edit), edit_inspector_path(@inspector) %>
|
<%= link_to t(:back), inspectors_path %>
