<%= form_for(check) do |f| %>
<% if check.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(check.errors.count, "error") %>
    <%=t(:prohibited_this_check_from_being_saved)%></h2>

  <ul>
    <% check.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label t(:amount) %>
  <%= f.number_field :amount %>
</div>

<div class="field">
  <%= f.label t(:checks_number) %>
  <%= f.text_field :checks_number %>
</div>

<div class="field">
  <%= f.label t(:deadline) %>
  <%= f.date_select :deadline %>
</div>

<div class="field">
  <%= f.label t(:reason) %>

  <%= f.select :reason, [t(:the_qa_and_sar_work_plan), t(:gto_commission), t(:zgto_commission),t(:appeal_of_applicant_organization),t(:other)]%>
</div>

<div class="field">
  <%= f.label t(:category) %>
  <%= f.select :category, [t(:performance), t(:preservation_and_use_of_property), t(:state_municipal_services), t(:contract_system), t(:anti_corruption), t(:for_calls_inappropriate_use_of_budgetary_funds), t(:challenging_the_actions_of_officials),
  t(:others)] %>
</div>

<div class="field">
  <%= f.label t(:violation) %>
  <%= f.select :violation, [t(:labor_legislation), t(:legislation_on_state_and_municipal_services), t(:legislation_on_the_contract_system), t(:budget_legislation), t(:departmental_legislation), t(:others)] %>
</div>

<div class="field">
  <%= f.label t(:response_measure) %>
  <%= f.select :response_measure, [t(:determination_of_contracts), t(:disciplinary_action), t(:repayment_of_funds), t(:procuracy), t(:eogv), t(:control_committee), t(:false_facts), t(:others)] %>
</div>

<div class="field">
  <%= f.label t(:direction) %>
  <select id="fuck" multiple="multiple">
    <option value="cheese"><%= t(:name_and_position) %></option>
    <option value="tomatoes"><%= t(:for_information) %></option>
    <option value="mozarella"><%= t(:for_accept) %></option>
    <option value="mushrooms"><%= t(:for_removal) %></option>
  </select>
  <%= f.select :direction, [t(:name_and_position), t(:for_information), t(:for_accept), t(:for_removal)] , multiple: "multiple" %>

</div>

<div class="field">
  <%= f.label t(:term) %>
  <%= f.text_field :term %>
</div>

<div class="field">
  <%= f.label t(:case_number) %>
  <%= f.text_field :case_number %>
</div>

<div class="field">
  <%= f.label t(:number_of_volumes) %>
  <%= f.number_field :number_of_volumes %>
</div>

<div class="field">
  <%= f.label t(:inspector) %>
  <%= f.select :inspector_id , options_for_select(@inspectors) %>
</div>

<div class="field">
  <%= f.label t(:executive) %>
  <%= f.text_field :executive %>
</div>

<div class="field">
  <%= f.label t(:for_office) %>
  <%= f.check_box :for_office %>
</div>

<div class="actions">
  <%= f.submit class: "btn btn-default"%>
</div>

<% end %>
<script type="text/javascript">
  $(document).ready(function () {
    $('#direction').multiselect();
  });
  $(document).ready(function () {
    $('#fuck').multiselect();
  });
</script>
