<%= form_for(check) do |f| %>
  <% if check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :checks_number %>
    <%= f.text_field :checks_number %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_select :deadline %>
  </div>

  <div class="field">
    <%= f.label :reason %>
    <%= f.text_field :reason %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :violation %>
    <%= f.text_field :violation %>
  </div>

  <div class="field">
    <%= f.label :response_measure %>
    <%= f.text_field :response_measure %>
  </div>

  <div class="field">
    <%= f.label :direction %>
    <%= f.text_field :direction %>
  </div>

  <div class="field">
    <%= f.label :term %>
    <%= f.text_field :term %>
  </div>

  <div class="field">
    <%= f.label :case_number %>
    <%= f.text_field :case_number %>
  </div>

  <div class="field">
    <%= f.label :number_of_volumes %>
    <%= f.number_field :number_of_volumes %>
  </div>

  <div class="field">
    <%= f.label :for_office %>
    <%= f.check_box :for_office %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
