<p id="notice"><%= notice %></p>
<h1><%= t(:checks) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:amount)%></th>
      <th><%= t(:checks_number)%></th>
      <th><%= t(:deadline)%></th>
      <th><%= t(:reason)%></th>
      <th><%= t(:organization)%></th>
      <th><%= t(:checks_organizations)%></th>
      <th><%= t(:checks_people_organizations)%></th>
      <th><%= t(:category)%></th>
      <th><%= t(:violation)%></th>
      <th><%= t(:response_measure)%></th>
      <th><%= t(:direction)%></th>
      <th><%= t(:term)%></th>
      <th><%= t(:case_number)%></th>
      <th><%= t(:number_of_volumes)%></th>
      <th><%= t(:inspector)%></th>
      <th><%= t(:executive)%></th>
      <th><%= t(:for_office)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= t(:response_measure)%>
  <tbody>
    <% @checks.each do |check| %>
    <tr>
      <td><%= check.amount %></td>
      <td><%= check.checks_number %></td>
      <td><%= check.deadline %></td>
      <td><%= check.reason %></td>
      <td><%=  %></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= check.category %></td>
      <td><%= check.violation %></td>
      <td><%= check.response_measure %></td>
      <td><%= check.direction %></td>
      <td><%= check.term %></td>
      <td><%= check.case_number %></td>
      <td><%= check.number_of_volumes %></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= check.for_office %></td>
      <td><%= link_to t(:show), check %></td>
      <% if current_user.is_admin == 1 %>
          <td><%= link_to t(:edit), edit_check_path(check) %></td>
          <td><%= link_to t(:destroy), check, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin == 1 %>
  <%= link_to t(:new_check), new_check_path %>
<% end %>