<p id="notice"><%= notice %></p>

<h1>Checks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Checks number</th>
      <th>Deadline</th>
      <th>Reason</th>
      <th>Category</th>
      <th>Violation</th>
      <th>Response measure</th>
      <th>Direction</th>
      <th>Term</th>
      <th>Case number</th>
      <th>Number of volumes</th>
      <th>For office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.amount %></td>
        <td><%= check.checks_number %></td>
        <td><%= check.deadline %></td>
        <td><%= check.reason %></td>
        <td><%= check.category %></td>
        <td><%= check.violation %></td>
        <td><%= check.response_measure %></td>
        <td><%= check.direction %></td>
        <td><%= check.term %></td>
        <td><%= check.case_number %></td>
        <td><%= check.number_of_volumes %></td>
        <td><%= check.for_office %></td>
        <td><%= link_to 'Show', check %></td>
        <td><%= link_to 'Edit', edit_check_path(check) %></td>
        <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check', new_check_path %>
