<p id="notice"><%= notice %></p>
<h1><%= t(:checks) %></h1>

<table class="table">
  <thead>
    <tr class ="first_tr">

      <!--
      <th><%= t(:amount)%></th>
      -->

      <th><%= t(:checks_number)%></th>
      <th><%= t(:check_finish)%></th>
      <th><%= t(:reason)%></th>
      <th><%= t(:organization)%></th>


      <!--
      <th><%= t(:checks_organizations)%></th>
      -->
      <!--
      <th><%= t(:checks_people_organizations)%></th>
      -->
      <!--
      <th><%= t(:category)%></th>
      -->
      <th><%= t(:violation)%></th>
      <th><%= t(:response_measure)%></th>
      <!--
      <th><%= t(:direction_status)%></th>
      -->
      <th><%= t(:term)%></th>
      <th><%= t(:case_number)%></th>

      <!--
      <th><%= t(:number_of_volumes)%></th>
      -->

      <th><%= t(:inspector)%></th>
      <th><%= t(:executive)%></th>

      <!--
      <th><%= t(:for_office)%></th>
      -->

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @checks.each do |check| %>
    <tr class="green">
      <td><%= check.amount %></td>
      <td><%= check.checks_number %></td>
      <td><%= check.check_finish %></td>
      <td><%= check.reason %></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= check.category %></td>
      <td><%= check.violation %></td>
      <td><%= check.response_measure %></td>
      <td><%= check.direction_status %></td>
      <td><%= check.term %></td>
      <td><%= check.case_number %></td>
      <td><%= check.number_of_volumes %></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= check.for_office %></td>
      <td><%= link_to t(:show), check %></td>
      <% if current_user.is_admin == true %>
      <td><%= link_to t(:edit), edit_check_path(check) %></td>
      <td><%= link_to t(:destroy), check, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin == true %>
<%= link_to t(:new_check), new_check_path %>
<% end %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  $("table.table tr").each(function() {
    if($(this).hasClass("green")) {
$(".table tr:not(.first_tr)").addClass("colors1");

$(".colors1:last").css("background-color", "#7be072");
var tr_clr1=$(".colors1:last").css("background-color");
$(".colors1:last").css("background-color", "white");

$(".colors1").hover(function(){
 if ($(this).css("background-color")!=tr_clr1)
  $(this).css("background-color", "green")},function(){
 if ($(this).css("background-color")!=tr_clr1)
  $(this).css("background-color", "white")
});

$(".colors1").click(function(){
 if ($(this).css("background-color")!=tr_clr1)
  $(this).css("background-color",tr_clr1)
 else $(this).css("background-color","green")
 });
}
   if($(this).hasClass("red"))  {   
  
$(".table tr:not(.first_tr)").addClass("colors2");

$(".colors2:last").css("background-color", "#ef7f56");
var tr_clr2=$(".colors2:last").css("background-color");
$(".colors2:last").css("background-color", "white");

$(".colors2").hover(function(){
 if ($(this).css("background-color")!=tr_clr2)
  $(this).css("background-color", "red")},function(){
 if ($(this).css("background-color")!=tr_clr2)
  $(this).css("background-color", "white")
});

$(".colors2").click(function(){
 if ($(this).css("background-color")!=tr_clr2)
  $(this).css("background-color",tr_clr2)
 else $(this).css("background-color","red")
 });
}
   
  if($(this).hasClass("yellow")) {      
$(".table tr:not(.first_tr)").addClass("colors3");

$(".colors3:last").css("background-color", "#efea5d");
var tr_clr3=$(".colors3:last").css("background-color");
$(".colors3:last").css("background-color", "white");

$(".colors3").hover(function(){
 if ($(this).css("background-color")!=tr_clr3)
  $(this).css("background-color", "yellow")},function(){
 if ($(this).css("background-color")!=tr_clr3)
  $(this).css("background-color", "white")
});

$(".colors3").click(function(){
 if ($(this).css("background-color")!=tr_clr3)
  $(this).css("background-color",tr_clr3)
 else $(this).css("background-color","yellow")
 });
   }
});
});
</script>
