<p id="notice"><%= notice %></p>
<h1><%= t(:checks) %></h1>

<table class="table">
  <thead>
    <tr class ="first_tr">

      <th>#</th>
      <th><%= t(:case_number)%></th>
      <th><%= t(:check_start)%></th>
      <th><%= t(:check_finish)%></th>
      <th><%= t(:check_remark_destroy)%></th>
      <th><%= t(:reason)%></th>
      <th><%= t(:violation)%></th>
      <th><%= t(:response_measure)%></th>
      <th><%= t(:inspector)%></th>
      <th><%= t(:executive)%></th>
      <% if current_user.is_admin == true %>
        <th colspan="3"></th>
        <% else %>
        <th colspan="1"></th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @checks.each do |check| %>
    <tr class="green">
      <th> <%= check.case_number %></th>
      <th> <%= check.checks_number %></th>
      <th> <%= check.check_start %></th>
      <th> <%= check.check_finish %></th>
      <th> <%= check.check_remark_destroy %></th>
      <th> <%= check.reason %></th>
      <th> <%= check.violation %></th>
      <th> <%= check.response_measure %></th>
      <th> <%= Inspector.find_by(id: check.inspector_id).last_name %></th>
      <th> <%= check.executive %></th>
      <td><%= link_to t(:show), check %></td>
      <% if current_user.is_admin == true %>
        <td><%= link_to t(:edit), edit_check_path(check) %></td>
        <td><%= link_to t(:destroy), check, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin == true %>
<%= link_to t(:new_check), new_check_path %>
<% end %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
  $("table.table tr").each(function() {
    if($(this).hasClass("green")) {
$(".table tr:not(.first_tr)").addClass("colors1");

$(".colors1:last").css("background-color", "#7be072");
var tr_clr1=$(".colors1:last").css("background-color");
$(".colors1:last").css("background-color", "white");

$(".colors1").hover(function(){
 if ($(this).css("background-color")!=tr_clr1)
  $(this).css("background-color", "green")},function(){
 if ($(this).css("background-color")!=tr_clr1)
  $(this).css("background-color", "white")
});

$(".colors1").click(function(){
 if ($(this).css("background-color")!=tr_clr1)
  $(this).css("background-color",tr_clr1)
 else $(this).css("background-color","green")
 });
}
   if($(this).hasClass("red"))  {

$(".table tr:not(.first_tr)").addClass("colors2");

$(".colors2:last").css("background-color", "#ef7f56");
var tr_clr2=$(".colors2:last").css("background-color");
$(".colors2:last").css("background-color", "white");

$(".colors2").hover(function(){
 if ($(this).css("background-color")!=tr_clr2)
  $(this).css("background-color", "red")},function(){
 if ($(this).css("background-color")!=tr_clr2)
  $(this).css("background-color", "white")
});

$(".colors2").click(function(){
 if ($(this).css("background-color")!=tr_clr2)
  $(this).css("background-color",tr_clr2)
 else $(this).css("background-color","red")
 });
}

  if($(this).hasClass("yellow")) {
$(".table tr:not(.first_tr)").addClass("colors3");

$(".colors3:last").css("background-color", "#efea5d");
var tr_clr3=$(".colors3:last").css("background-color");
$(".colors3:last").css("background-color", "white");

$(".colors3").hover(function(){
 if ($(this).css("background-color")!=tr_clr3)
  $(this).css("background-color", "yellow")},function(){
 if ($(this).css("background-color")!=tr_clr3)
  $(this).css("background-color", "white")
});

$(".colors3").click(function(){
 if ($(this).css("background-color")!=tr_clr3)
  $(this).css("background-color",tr_clr3)
 else $(this).css("background-color","yellow")
 });
   }
});
});
</script>
