<h1><%= t(:checks) %></h1>
<%= render partial: "searchbar", locals: {search: @search, path: new_check_path, text: t(:new_report), search_hash: :case_number_cont} %>
<br>
<% @checks.each do |check| %>
  <div class="card border-<%= check.status %> mb-3">
    <div class="card-body">
      <span class="badge float-sm-right"><%= l check.updated_at, format: :short %></span>
      <h5 class="card-title"><%= "\# #{check.case_number} - #{check.title_check}" %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= "#{check.check_start} / #{check.check_finish} / #{check.check_remark_destroy}" %></h6>
      <p class="card-text"> <%= "#{t(:amount)} - #{check.amount}" %> </p>
      <div class="collapse" id="collapse_list_<%= check.id %>">
        <p class="card-text"> <%= "#{t(:checks_number)} - #{check.checks_number}" %> </p>
        <p class="card-text"> <%= "#{t(:direction_status)} - #{check.direction_status}" %> </p>
        <p class="card-text"> <%= "#{t(:number_of_volumes)} - #{check.number_of_volumes}" %> </p>
        <p class="card-text"> <%= "#{t(:for_office)} - #{check.for_office}" %> </p>
        <p class="card-text"> <%= "#{t(:executive)} - #{check.executive}" %> </p>
        <p class="card-text"> <%= "#{t(:control)} - #{check.control}" %> </p>
        <p class="card-text"> <%= "#{t(:direction_author)} - #{check.direction_author}" %> </p>
        <p class="card-text"> <%= "#{t(:direction_where)} - #{check.direction_where}" %> </p>
      </div>
      <a data-toggle="collapse" href="#collapse_list_<%= check.id %>">+</a>
      <%= link_to check.inspector.full_name, inspector_path(check.inspector_id), class: 'card-link' %>
      <%= link_to '->', check_path(check), class: 'card-link' %>
    </div>
  </div>
  <br>
<% end %>
