<p id="notice"><%= notice %></p>
<div class="well well-sm">
  <p>
    <strong><%= t(:amount)%>:</strong>
    <%= @check.amount %>
  </p>

  <p>
    <strong><%= t(:checks_number)%>:</strong>
    <%= @check.checks_number %>
  </p>

  <p>
    <strong><%= t(:check_start)%>:</strong>
    <%= @check.check_start %>
  </p>

  <p>
    <strong><%= t(:check_finish)%>:</strong>
    <%= @check.check_finish %>
  </p>

  <p>
    <strong><%= t(:check_remark_destroy)%>:</strong>
    <%= @check.check_remark_destroy %>
  </p>

  <p>
    <strong><%= t(:reason)%>:</strong>
    <%= @check.reason %>
  </p>

  <p>
    <strong><%= t(:category)%>:</strong>
    <%= @check.category %>
  </p>

  <p>
    <strong><%= t(:violation)%>:</strong>
    <%= @check.violation %>
  </p>

  <p>
    <strong><%= t(:response_measure)%>:</strong>
    <%= @check.response_measure %>
  </p>

  <p>
    <strong><%= t(:direction_author)%>:</strong>
    <%= @check.direction_author %>
  </p>

  <p>
    <strong><%= t(:direction_where)%>:</strong>
    <%= @check.direction_where %>
  </p>

  <p>
    <strong><%= t(:direction_status)%>:</strong>
    <%= @check.direction_status %>
  </p>

  <p>
    <strong><%= t(:executive)%>:</strong>
    <%= Inspector.find_by(id: @check.inspector_id).full_name %>
  </p>

  <p>
    <strong><%= t(:checks_organizations)%>:</strong></p>
  <ul>
    <% @check.organizations.each do |var| %>
      <li class=""><%= var.company_name %></li>
    <% end %>
  </ul>

  <p>
    <strong><%= t(:checks_people_organizations)%>:</strong></p>
  <ul>
    <% @check.people.each do |var| %>
      <li class=""><%= var.last_name %></li>
    <% end %>
  </ul>

  <p>
    <strong><%= t(:case_number)%>:</strong>
    <%= @check.case_number %>
  </p>

  <p>
    <strong><%= t(:number_of_volumes)%>:</strong>
    <%= @check.number_of_volumes %>
  </p>

  <p>
    <strong><%= t(:for_office)%>:</strong>
    <%= @check.for_office %>
  </p>

  <p>
    <strong><%= t(:controll)%>:</strong>
    <%= @check.controll %>
  </p>
</div>
<% if current_user.is_admin == true %>
  <%= link_to t(:edit), edit_check_path(@check) %>
  |
<% end %>
<%= link_to t(:back), checks_path %>
