<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @check.amount %>
</p>

<p>
  <strong>Checks number:</strong>
  <%= @check.checks_number %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @check.deadline %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @check.reason %>
</p>

<p>
  <strong>Category:</strong>
  <%= @check.category %>
</p>

<p>
  <strong>Violation:</strong>
  <%= @check.violation %>
</p>

<p>
  <strong>Response measure:</strong>
  <%= @check.response_measure %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @check.direction %>
</p>

<p>
  <strong>Term:</strong>
  <%= @check.term %>
</p>

<p>
  <strong>Case number:</strong>
  <%= @check.case_number %>
</p>

<p>
  <strong>Number of volumes:</strong>
  <%= @check.number_of_volumes %>
</p>

<p>
  <strong>For office:</strong>
  <%= @check.for_office %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
