<h1><%= t(:organizations) %></h1>
<%= render partial: "searchbar", locals: {search: @search, path: new_organization_path, text: t(:new_organization), search_hash: :name_or_position_cont} %>

<br>
<div class="list-group">
  <% @organizations.each do |o| %>
    <%= link_to organization_path(o), class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= o.name %></h5>
      </div>
      <small class="text-muted"><%= "#{o.person.full_name} - #{o.position}"  %></small>
    <% end %>
  <% end %>
</div>
<br>
