<p id="notice"><%= notice %></p>

<h1><%= t(:organizations) %></h1>
<% if current_user.is_admin == true %>
  <%= link_to t(:new_organization), new_organization_path, class: 'btn btn-success' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:company_name) %></th>
      <th><%= t(:organization_and_person) %></th>
      <th><%= t(:position) %></th>
      <% if current_user.is_admin == true %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |o| %>
      <tr>
        <td><%= link_to o.company_name, organization_path(o) %></td>
        <td><%= link_to Person.find_by(id: o.person_id).last_name, person_path(o.person_id) %></td>
        <td><%= link_to o.position, organization_path(o) %></td>
        <% if current_user.is_admin == true %>
          <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_organization_path(o) %></td>
          <td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, o, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
