<p id="notice"><%= notice %></p>

<h1><%= t(:organizations) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:company_name) %></th>
      <th><%= t(:first_name) %></th>
      <th><%= t(:last_name) %></th>
      <th><%= t(:middle_name) %></th>
      <th><%= t(:position) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.company_name %></td>
        <td><%= organization.first_name %></td>
        <td><%= organization.last_name %></td>
        <td><%= organization.middle_name %></td>
        <td><%= organization.position %></td>
        <td><%= link_to t(:show), organization %></td>
        <% if current_user.is_admin == 1 %>
          <td><%= link_to t(:edit), edit_organization_path(organization) %></td>
          <td><%= link_to t(:destroy), organization, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin == 1 %>
  <%= link_to t(:new_organization), new_organization_path %>
<% end %>