<p id="notice"><%= notice %></p>

<h1><%= t(:organizations) %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:company_name) %></th>
      <th><%= t(:organization_and_person) %></th>
      <th><%= t(:position) %></th>
      <% if current_user.is_admin == true %>
        <th colspan="3"></th>
        <% else %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.company_name %></td>
        <td><%= Person.find_by(id: organization.person_id).last_name %></td>
        <td><%= organization.position %></td>
        <td><%= link_to t(:show), organization %></td>
        <% if current_user.is_admin == true %>
          <td><%= link_to t(:edit), edit_organization_path(organization) %></td>
          <td><%= link_to t(:destroy), organization, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin == true %>
  <%= link_to t(:new_organization), new_organization_path %>
<% end %>
