<p id="notice"><%= notice %></p>

<h1><%= t(:organizations) %></h1>
<% if current_user.is_admin == true %>
  <%= link_to t(:new_organization), new_organization_path, class: 'btn btn-success' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(:company_name) %></th>
      <th><%= t(:organization_and_person) %></th>
      <th><%= t(:position) %></th>
      <% if current_user.is_admin == true %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr role="button"  onclick="window.location.href = '/organizations/<%= organization.id %>'">
        <td><%= organization.company_name %></td>
        <td><%= Person.find_by(id: organization.person_id).last_name %></td>
        <td><%= organization.position %></td>
        <% if current_user.is_admin == true %>
          <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_organization_path(organization) %></td>
          <td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, organization, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
