<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @organization.company_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @organization.first_name %>
</p>
<p>
  <strong>Second name:</strong>
  <%= @organization.second_name %>
</p>
<p>
  <strong>Middle name:</strong>
  <%= @organization.middle_name %>
</p>
<p>
  <strong>Position:</strong>
  <%= @organization.position %>
</p>
<%= link_to t(:edit), edit_organization_path(@organization) %> |
<%= link_to t(:back), organizations_path %>
