
<div class="well well-sm">
  <p>
    <strong><%= t(:name)%>:
    </strong>
    <%= @organization.name %>
  </p>

  <p>
    <strong><%= t(:organization_and_person) %>:</strong>
    <%= @person %>
  </p>
  <p>
    <strong><%= t(:position) %>:</strong>
    <%= @organization.position %>
  </p>
</div>
<% if current_user.is_admin == true %>
  <%= link_to t(:edit), edit_organization_path(@organization) %>
  |
<% end %>
<%= link_to t(:back), organizations_path %>
