
<h1><%= t(:reports) %></h1>
<%= render partial: "shared/searchbar", locals: {path: new_report_path, text: t(:new_report), search_hash: :title_report_cont } %>
<br>
<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @search, :case_number, t(:case_number) %></th>
      <th><%= sort_link @search, :title_report, t(:title_report) %></th>
      <th><%= sort_link @search, :deadline, t(:deadline) %></th>
      <th><%= sort_link @search, :inspector, t(:inspector) %></th>
      <th><%= sort_link @search, :organization, t(:organization) %></th>
      <th><%= sort_link @search, :executive, t(:executive) %></th>
      <% if current_user.is_admin %>
        <th colspan="2"></th>
      <% else %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |r| %>
      <tr>
        <td><%= link_to r.number, report_path(r) %></td>
        <td><%= link_to r.title_report, report_path(r) %></td>
        <td><%= link_to r.deadline, report_path(r) %></td>
        <td><%= link_to Inspector.find(r.inspector_id).full_name, inspector_path(r.inspector_id) %></td>
        <td><%= link_to Organization.find(r.organization_id).name, organization_path(r.organization_id) %></td>
        <td><%= link_to r.executive, report_path(r) %></td>
        <% if current_user.is_admin == true %>
          <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_report_path(r) %></td>
          <td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, r, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>