<p id="notice"><%= notice %></p>

<p>
    <strong><%= t(:number) %>:</strong>
    <%= @report.number %>
</p>

<p>
    <strong><%= t(:deadline) %>:</strong>
    <%= @report.deadline %>
</p>

<p>
    <strong><%= t(:inspector) %>:</strong>
    <%= Inspector.find(@report.inspector_id).last_name; %>
</p>

<%= link_to t(:edit), edit_report_path(@report) %>
|
<%= link_to t(:back), reports_path %>
