<p id="notice"><%= notice %></p>

<div class="well well-sm">
  <p>
    <strong><%= t(:case_number) %>:</strong>
    <%= @report.number %>
  </p>
  <p>
    <strong><%= t(:deadline) %>:</strong>
    <%= @report.deadline %>
  </p>
  <p>
    <strong><%= t(:inspector) %>:</strong>
    <%= Inspector.find(@report.inspector_id).last_name; %>
  </p>
  <p>
    <strong><%= t(:organization) %>:</strong>
    <%= Organization.find(@report.organization_id).company_name; %>
  </p>
  <p>
    <strong><%= t(:executive) %>:</strong>
    <%= @report.executive %>
  </p>
  <p>
    <strong><%= t(:reason) %>:</strong>
    <%= @report.reason %>
  </p>
  <p>
    <strong><%= t(:result) %>:</strong>
    <%= @report.result %>
  </p>
</div>
<% if current_user.is_admin == 1 %>
  <%= link_to t(:edit), edit_report_path(@report) %>
  |
<% end %>
<%= link_to t(:back), reports_path %>
