<!DOCTYPE html>
<html>
    <head>
        <title>TheHoneydew</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <%= link_to "Checking system", root_path, class: "navbar-brand" %>
                </div>
                <% if user_signed_in? %>
                    <ul class="nav navbar-nav">
                        <li>
                        <%= link_to "Inspector", inspectors_path %>
                        </li>
                        <li>
                        <%= link_to "Person", people_path %>
                        </li>
                        <li>
                        <%= link_to "Organigation", organizations_path %>
                        </li>
                        <li>
                        <%= link_to "Checks", checks_path %>
                        </li>
                        <li>
                        <%= link_to "Report", reports_path %>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                        </li>
                    </ul>
                <% end %>
            </div>
        </nav>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
