<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
      <%= t(:title) %>
    </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= image_tag("logo.png", :alt => "logo", class: "navbar-brand") %>
      <%= link_to t(:title), root_path, class: "navbar-brand" %>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to t(:checks), checks_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t(:reports), reports_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t(:statistic), dashboard_report_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdown_left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</a>
            <div class="dropdown-menu" aria-labelledby="dropdown_left">
              <%= link_to t(:inspectors), inspectors_path, class: 'dropdown-item' %>
              <%= link_to t(:people), people_path, class: 'dropdown-item' %>
              <%= link_to t(:organization), organizations_path, class: 'dropdown-item' %>
              <%= link_to t(:help), dashboard_info_path, class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdown_right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</a>
            <div class="dropdown-menu" aria-labelledby="dropdown_right">
              <% if I18n.locale == :en %>
                <%= link_to "Русский", {locale: :ru}, class: 'dropdown-item' %>
                <% elsif I18n.locale == :ru %>
                  <%= link_to "English", {locale: :en}, class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
            <li class="nav-item"><%= link_to t(:sign_out), destroy_user_session_path, class: 'nav-link', :method => :delete %></li>
          </ul>
        </div>
      </nav>

      <main role="main" class="container">
          <%= yield %>
      </main>
    </body>
  </html>
